apiVersion: apps/v1
kind: Deployment
metadata:
  name: authservice-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authservice
  template:
    metadata:
      labels:
        app: authservice
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: authservice
        image: ghcr.io/bsametarman/ratewatch-authservice:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        env:
        - name: ASPNETCORE_URLS
          value: "http://+:80"
        - name: ASPNETCORE_ENVIRONMENT
          value: "Production"
        - name: ConnectionStrings__DefaultConnection
          valueFrom:
            secretKeyRef:
              name: ratewatch-secrets
              key: DB_CONNECTION_STRING
        - name: AppSettings__Token
          valueFrom:
            secretKeyRef:
              name: ratewatch-secrets
              key: JWT_TOKEN_KEY
        - name: Kafka__BootstrapServers
          value: "kafka-service:9092"